@charset "utf-8";

@font-face {
	font-family: proxima-nova;
	src: url('../fonts/proximanova-bold-webfont.ttf') format('truetype')
		, url('../fonts/proximanova-bold-webfont.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: proxima-nova;
	src: url('../fonts/proximanova-boldit-webfont.ttf') format('truetype')
		, url('../fonts/proximanova-boldit-webfont.svg') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: proxima-nova;
	src: url('../fonts/proximanova-reg-webfont.ttf') format('truetype')
		, url('../fonts/proximanova-reg-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: proxima-nova;
	src: url('../fonts/proximanova-regit-webfont.ttf') format('truetype')
		, url('../fonts/proximanova-regit-webfont.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: proxima-nova;
	src: url('../fonts/proximanova-sbold-webfont.ttf') format('truetype')
		, url('../fonts/proximanova-sbold-webfont.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

html, * {
	font-family: proxima-nova, sans-serif;
}

#progress {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 100px;
	margin-bottom: 0px;
}

.clickable {
	cursor: pointer;
}

.navbar-brand {
	cursor: default;
	margin-left: 0px !important;
}

.sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 10;
	display: block;
	padding: 10px 0;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #F5F5F5;
	border-right: 1px solid #EEE;
}

.main-panel {
	padding: 70px 30px 10px 30px;
	margin-left: 250px;
}

.sidebar-width {
	width: 250px;
}

.sidebar-padding {
	padding-left: 250px;
}

#error {
	display: none;
}

label[for="savedGameLocation"] {
	margin-right: 20px;
}

input#savedGameLocation {
	width: 400px;
}

button#searchForSavedGames {
	margin-left: 20px;
}

.btn {
	transition: background-color .2s;
}

#searchForSavedGames i
, #saveSettings i
, #saveFile i {
	display: none;
}

.save-blocks {
	margin-top: 30px;
}

.save-info {
	position: relative;
	display: inline-block;
	width: 500px;
	box-shadow: 0 0 2px rgba(0,0,0,.1);
	cursor: pointer;
	border: 1px solid #eee;
	margin-right: 30px;
}

.save-info:hover {
	border-color: #ccc;
}

.save-info > * {
	cursor: pointer;
}

.save-info td {
	padding: 10px;
}

.save-info .name {
	font-weight: bold;
}

.save-info .portraits {
	min-width: 217px;
}

.save-info .date {
	font-size: 10px;
	color: #ccc;
	vertical-align: bottom;
}

.save-info i {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
}

ul.characters {
	list-style: none;
	padding: 0;
}

.characters li {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}

.characters li:hover
, .characters li.active {
	background-color: #222;
	color: #9d9d9d;
}

.character {
	margin-top: 10px;
	display: none;
}

.character .portrait {
	width: 240px;
}

.character .stats > div {
	background-color: #f5f5f5;
	border: 1px solid #eee;
	padding: 20px;
}

.character .stats .form-group:last-child {
	margin-bottom: 0px;
}

.character .stats input {
	width: 60px;
}

#saveChanges {
	float: right;
}

#checkUpdatesDialog .modal-footer
, #checkUpdatesTryAgain
, #checkUpdatesError
, #checkUpdatesNoUpdates
, #checkUpdatesAvailable
, #checkUpdatesDownload
, #checkUpdatesDownloadFailed
, #checkUpdatesDownloadSuccess {
	display: none;
}
